/* character data */
.detail_box {
    width: 1200px;
    height: max-content;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #3e1818ad;
    border-radius: 15px 15px 15px 15px;
}

.box_title {
    text-align: left;
    padding: 1%;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;
}


table {
    height: auto;
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
}

.table_font {
    font-size: 15px;
}

.table_head {
    width: 8%;
    height: 40px;
    color: hsla(0,0%,100%,.45);
    font-size: 15px;
}

.table_detail {
    width: 8%;
    height: 40px;
    font-size: 15px;
}

button {
    padding:10px 20px 10px 20px;
    text-align: center;
    margin-left: 250px;
    background-color: rgba(255, 208, 19, 0.278);
    border-color: rgba(255, 255, 255, 0);
    border-radius: 10px 10px 10px 10px;
    color: white;
    text-align: left;
}

form button {
    background-color: rgba(255, 26, 26, 0.34);
    padding:5px 10px 5px 10px;
}

form {
    margin-top: 50px;
    margin-left: 250px;
    width: max-content;
}