main {
    color: rgba(255, 247, 247, 0.90);
}

h1 {
    margin-top: 40px;
    font-size: 50px;
}

header {
    color: antiquewhite;
    text-align: center;
}

hr {
    width: 98%;
    size: 1;
    color: #a4a3a33e;
}

menu {
    list-style-type: none;
}
menu a {
    color: white;
    text-decoration: none;
}
menu a:hover {
    color: rgb(255, 85, 85);
    text-decoration: none;
}
menu li {
    margin-top: 20px;
}

footer {
    width: 101%;
    margin-left: -10px;
    margin-bottom: -20px;
    background-color: rgba(7, 7, 7, 0.35);
}
footer ul {
    margin-left: 200px;
    list-style-type: none;
    display: flex;
    gap:5em;

}
footer p {
    color: rgba(255, 247, 247, 0.40);
    margin-left: 700px;
}
.footer_info {
    margin-top: 50px;
    padding: 10px;
    display: flex;
}
footer a {
    text-decoration: none;
    color: rgba(255, 247, 247, 0.40);
}
footer a:hover {
    text-decoration: underline;

}

/* background video */
#body_bg{  
    margin: 0px;  
    padding: 0px;  
}  
#body_bg_video{  
    position: fixed;  
    right: 0px;  
    bottom: 0px;  
    min-width: 100%;  
    min-height: 100%;  
    height: auto;  
    width: auto;  
    z-index:-1;
}  
.body_bg_source{  
    min-width: 100%;  
    min-height: 100%;  
    height: auto;  
    width: auto;  
}